body {background:#FFF url(img/bg/hex_80.jpg) center top repeat; font: 14px Verdana, Arial, Helvetica, sans-serif; color:#3c3a36}
* {margin: 0px;	padding: 0px;}
.clear {clear:both;}
.clear2 {width:595px; clear:left; float:right;}
#wrap {
 width:851px;
 margin:auto;
 /*background:#FFF;*/
 position:relative;
}
#header {
 background:'';
 height:418px;
}

#header_avatar {
 position:relative;
 top:-160px;
 left:+80px;
}

#name_and_sec{
 position:relative;
 width:851px;
 height:200px;
 /*background:#FCC;*/
}
#name_and_sec_left{
 position:absolute;
 /*background:#E99;*/
 top:0;
 left:0;
 width:430px;
 height:100px;
}
#name_and_sec_right{
 position:absolute;
 top:0;
 right:0;
 width:430px;
 height:100px;
 text-align: center;
 line-height:95px;
 vertical-align: middle;
 font: 40px Verdana, Arial, Helvetica, sans-serif; color:#443311;
}

#cc_container{
 /*background:#555;*/
 float:left;
 width:851px;
 height:100px;
 clear:both;
 position:absolute;
}

.cc_button{
 float:left;
 /*position:absolute;
 bottom:0;
 left:0;*/
 cursor:pointer;
 -moz-border-radius: 25px;
 border-radius: 25px; 
 width:397px;
 height:84px;
 margin: 0px 5px 0px 5px;
 padding: 8px 8px 8px 8px;
 font: 24px Verdana, Arial, Helvetica, sans-serif; color:#333333;
 text-align: center;
 display:table-cell;
 vertical-align: middle;
 line-height:75px;
  border:1px solid #222;

}

#cc_proj{
 /*background:#E00;*/
}

#cc_ident{
 /*background:#FFCC33;*/
}

#cc_idea{
 /*background:#11C;*/
}

#proj_list_container {
	display:inline;
}

#ident_list_container {
	display:none;
}


.list_container{
 /*background:#EEF;*/
 position:absolute;
 top:530px;
 left:0;
 width:851px;
}

.proj_item{
 background:#EEE;
 float:left;
 width:851px;
 height:150px;
 margin: 0px 0px 30px 0px;
 cursor:pointer; 
 border:1px solid #222;
}

.ident_item{
 background:#EEE;
 float:left;
 width:851px;
 height:50px;
 margin: 0px 0px 30px 0px;
 /*cursor:pointer;*/ 
 border:1px solid #222;
}

.proj_item .item_icon {
 float:left;
 background:#FFF;
 width:148px;
 height:148px;
 border: 1px solid #000;
}

.ident_item .item_icon {
 float:left;
 background:#FFF;
 width:48px;
 height:48px;
 border: 1px solid #000;
}

.item_descrip_box {
 float:left;
 /*background:#FFC;*/
 width:551px;
 height:150px;
 overflow:hidden;
}

.item_title {
	border-radius: 4px 4px 0 0 ;
	position: relative;
	font: bold 22px "Trebuchet MS", Verdana, sans-serif; color: #000;
	/*background:#CFC;*/
	height:30px;
}

.item_blurb {
	height:105px;
 	/*background:#CCC;*/
    overflow:hidden;
    border-top: 10px hidden #FFF;
    border-bottom: 10px hidden #FFF;
}

.item_more_info_box {
	height:15px;
 	/*background:#999;*/
    overflow:hidden;
	font: bold 16px Arial, sans-serif; color: #000;

}

.item_hidden_info_text{
	display:none;
}

.item_link_box { 
 float:left;
 /*background:#CFF;*/
 width:150px;
}


.img-shadow {
  float:left;
  background: url(img/shadow/shadowAlpha.png) no-repeat bottom right !important;
  background: url(img/shadow/shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.img-shadow img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  }


#page {padding:5px 15px 5px 20px; background:url(images/pagebg.jpg) repeat-y;}
#contents {float:left;	width: 595px;}
a {color:#c11; text-decoration:none;}
a:visited { color:#c11;}
a:hover {color:#e22; text-decoration:underline;}
h1, h2, h3, h4, h5 { font-weight:bold; font-family:"Trebuchet MS", Verdana, sans-serif;}



.alignleft {float:left;}
.alignright {float:right;}

